body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    margin: 0;
    font-weight: 400;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
address {
    display: block;
    font-style: italic;
}
input {
    font-family: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
        max-width: 320px;
        padding: 0 16px;
        margin: 0 auto;
            }

@media screen and (min-width: 768px) {
.container {
max-width: 768px;
}
}

@media screen and (min-width: 1158px) {
.container {
max-width: 1158px;
padding-left: 15px;
padding: 0 15px;
}
}

.header {
border-bottom: 1px solid #E7E9FC;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 1px 6px rgba(46, 47, 66, 0.08)
}

.logo-head {
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-part {
    color: #2E2F42;
}
@media only screen and  (max-width: 767px) {
.header-container {
display: flex;
align-items: center;
justify-content: space-between;
    }
.header {
padding-top: 16px;
padding-bottom: 16px;
}
.nav-list {
display: none;
}
.address-list {
display: none;
}

.mobile-box-menu {
padding-top: 72px;
padding-left: 16px;
padding-bottom: 40px;
padding-right: 24px;
}

.menu-open-btn {
background-color: transparent;
border: none;
padding: 0;
line-height: 0;
    }
.header {
margin-top: 16px;
margin-bottom: 16px;
}
}
/* =========== Mobile menu styles =========== */
@media only screen and (max-width: 767px) {
.mobile-menu {
position: fixed;
top: 0;
left: 0;
z-index: 9999999999;
width: 100%;
height: 100%;
background-color: #fff;
opacity: 0;
visibility: hidden;
transition: opacity 250ms linear, visibility 250ms linear;
}
         
.mobile-menu.is-open {
opacity: 1;
visibility: visible;
 }
         
.mobile-menu-container {
position: relative;
 }
.mobile-menu-close-btn {
position: absolute;
top: 24px;
right: 16px;
display: flex;
background-color: transparent;
border: none;
padding: 0;
line-height: 0;
  }
.mobile-nav-menu {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 40px;
}
.address-list {
    margin-top: 168px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;

}
.mobile-menu-item {
display: flex;
     }
.address-link {
display: flex;
     }
.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .mobile-nav-link:focus,
  .mobile-nav-link:hover,
  .mobile-nav-link:active {
      color: #404bbf;
  }
  .mobile-nav-studio {
    color: #404bbf;
  }
  .address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .address-link:focus,
    .address-link:hover,
    .address-link:active {
        color: #404bbf;
        }
    .social-list {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.social-list-item {
    width: 40px;
    height: 40px;
    }
.social-list-link {
    display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        .social-list-link:hover,
        .social-list-link:focus {
        background-color: #404bbf;
        }
}

@media only screen and (min-width: 768px) {
.mobile-menu {
display: none;
}
.nav-list,
.address-list {
display: flex;
}

.menu-open-btn {
display: none;
 }

.navigation {
display: flex;
justify-content: space-between;
align-items: center;
width: 496px;
}
.logo-head {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-part {
    color: #2E2F42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    display: block;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404bbf;
    position: absolute;
    margin-top: 20px;
    bottom: -1px;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
}
 /* @media screen and (min-width: 320px) {
     .header-container {
         display: flex;
         align-items: center;
     }
 } *//* Modal phone */

.backdrop-for-modal {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
}

.backdrop-for-modal.is-open {
    opacity: 1;
    visibility: visible;
}

.modal-window-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop-btn-close:hover,
.backdrop-btn-close:focus {
    background-color: #404bbf;
    border: none;
}

.icon-close-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

.backdrop-btn-close:hover .icon-close-btn,
.backdrop-btn-close:focus .icon-close-btn {
    fill: #ffffff
}

.text-leave-contact {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.box-for-input {
    margin-bottom: 8px;
}

.label-for-contacts {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.box-icons-input {
    position: relative;
}

.input-for-contacts {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    background-color: transparent;
}

.input-for-contacts:focus {
    border-color: #4D5AE5;
}

.icon-class-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

icon-class-svg:focus {
    fill: #4D5AE5;
}

.box-for-input-comment {
    margin-bottom: 16px
}

.comment-textarea-box {
    width: 100%;
    height: 120px;
    line-height: 1.17;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
}

.comment-textarea-box:focus {
    border-color: #4D5AE5;
}

.box-for-input-checkbox {
    margin-top: 16px;
}

.privacy-policy-accept {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    /* display: flex;
    gap: 8px; */
}

.our-own-checkbox {
    display: inline-flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-for-contacts:focus+.icon-class-svg {
    fill: #4d5ae5;
}

.comment-textarea-box::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.privacy-policy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.label-for-contacts:focus+.privacy-policy-accept .our-own-checkbox {
    outline: 2px solid rgba(0, 0, 0, 0.25);
}

.box-for-input-checkbox {
    margin-bottom: 24px;
}

.btn-finish-send {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    /* padding: 16px 32px;
    min-width: 169px;
    height: 56px; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
}

.label-for-contacts-checkbox:checked+.privacy-policy-accept .our-own-checkbox {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.svg-for-checkbox {
    fill: #F4F4FD;
}