body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
img {
    display: block;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding: 0 15px;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
        }
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08)
}
.header-container {
display: flex;
align-items: center;
justify-content: space-between;

}
.navigation {
display: flex;
align-items: center;
}

.logo-head {
 font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        padding: 17px 0;
}
.logo-part {
color: #2E2F42;
}
.nav-list {
    display: none;
 }
.address {
    display: none;
}
.menu-open-btn {
    padding: 0;
    line-height: 0;
    border-color: transparent;
    cursor: pointer;
    border: none;
}
@media screen and (min-width: 768px) {
   
   .menu-open-btn {
    display: none;
}
.mobile-menu {
    display: none;
}

.logo-head {
    margin-right: 120px;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.address {
    font-style: normal;
    margin-left: auto;
    display: none;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
    position: relative;
    color: #404bbf;
}
.current::after {
    content: "";
    display: block;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404bbf;
    position: absolute;
    margin-top: 20px;
    bottom: -1px;
}
.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}
.address {
    display: block;
}
.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.address-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
}
@media screen and (min-width: 1158px) {
.logo-head {
margin-right: 76px;
   }
   .address-list {
    flex-direction: row;
    gap: 40px;
   }
   .address-link {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
   }
 .mobile-menu {
    display: none;
 }

}
/* =========== Mobile menu styles =========== */
@media only screen and (max-width: 767px) {
    .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms linear, visibility 250ms linear;
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
    }

    .mobile-menu-container {
        position: relative;
        
    }

    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 16px;
        display: flex;
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }
.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
     
}
.mobile-box-menu {
    margin-top: 72px;
    margin-left: 16px;
    margin-right: 18px;
}
.address-list {
    display: flex;
    margin-top: 168px;
    flex-direction: column;
    gap: 24px;
}
    .address-link {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }

    .mobile-nav-link:focus,
    .mobile-nav-link:hover,
    .mobile-nav-link:active {
    color: #404bbf;
    }

    .address-link:focus,
    .address-link:hover,
    .address-link:active {
        color: #404bbf;
    }

    .social-list {
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: space-between;
        margin-top: 48px;
    }

    .social-list-item {
        width: 40px;
        height: 40px;
      
    }

    .social-list-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .social-list-link:hover,
    .social-list-link:focus {
        background-color: #404bbf;
    }
}
.hero {
    background-color: #2E2F42;
    padding: 72 0;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url('../images/hero_img2/dark-bg-mob.jpg');
    background-repeat: no-repeat;
    background-position: center;
    
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .hero {
        background-image: url('../images/hero_img2/dark-bg-mob@2x.jpg');
    }
}
@media screen and (min-width: 768px) {
.hero {
padding: 109 0;
max-width: 756px;
background-image: url('../images/hero_img2/dark-bg-tabl.jpg');
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
.hero {
background-image: url('../images/hero_img2/dark-bg-tabl@2x.jpg')
    }
}
@media screen and (min-width: 1200px) {
.hero {
max-width: 1440px;
padding: 188 0;
background-image: url('../images/hero_img2/people-office-desk.jpg');
    }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1200px) {
.hero {
 background-image: url('../images/hero_img2/people-office-desk@2x.jpg');
    }
}
.container .hero-container {
    background-color: #2e2f42;
    display: block;
    }
        .hero-container {
        padding-top: 72px;
        padding-bottom: 40px;
        padding-left: 52px;
        padding-right: 52px;
        }
.main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    max-width: 216px;
    margin-bottom: 72px;
    }

@media screen and (min-width: 768px) {
.main-title {
font-size: 56px;
line-height: 1.07;
max-width: 496px;
margin-bottom: 48px;
}
}
@media screen and (min-width: 1158px) {
.main-title {
font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
}
}

 .order-service-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: #FFF;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    display: block;
    gap: 10px;
    border: none;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 
@media screen and (min-width: 768px) {
.order-service-btn {


}

@media screen and (min-width: 1158px) {
.order-service-btn {
    

.order-service-btn:hover,
.order-service-btn:focus {
background: #404BBF;
}


/* Benefits */
/* .benefits {
    padding: 120px 0;
}
.benefits-name {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-list-item {
    width: calc((100% - 72px) / 4);
}
.benefits-item-icon-wrapper {
    display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        width: 264px;
        margin-bottom: 8px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: #f4f4fd;
    border: 1px solid #8e8f99;
        
      
        }
.benefits-list-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.benefits-list-text {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.social-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: auto;
}
.social-list-link {
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

.social-list-icon {
    fill: #f4f4fd;
}
.our-team {
    background: #f4f4fd;
    padding: 120px 0;
}
.team-item-name {
    padding: 32px 0;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-main {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}
.team-list-item {
    background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        width: calc((100% - 72px) / 4);
}
.team-list-fullname {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.profession {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
    
    
}
.portfolio-info {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    text-align: left;
    row-gap: 48px;
  }
  .portfolio-list-item {
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item:hover {
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .images-overlay {
      position: relative;
      overflow: hidden;
  }

  .text-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #4d5ae5;
      color: #f4f4fd;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      padding: 40px 32px;
  }
  .portfolio-list-item:hover .text-overlay {
    transform: translateY(0%);
  }
.our-portfolio {
    
    padding-top: 120px;
    padding-bottom: 120px;
}
.list-servises {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.direct {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.portfolio-text {
    padding: 32px 16px;
            border: 1px solid #e7e9fc;
            border-top: none;
}

.foot {
    background: #2e2f42;
    padding: 100px 0;
 }
 .container.footer-container {
     display: flex;
     align-items: baseline;
 }
 .logo-foot {
    color: #4d5ae5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 16px;
        display: inline-block;
 }
 .site-footer-container {
     margin-right: 120px;
 }

.logo-part-foot {
    color: #f4f4fd;
}
 .footer {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
     background: #2e2f42;
     width: 264px;
   }
 
 .social-text-foot {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #fff;
     margin-bottom: 16px;
  }
.social-list-foot {
    display: flex;
    gap: 16px;
}
.social-list-item-foot {
    width: 40px;
    height: 40px;
}
.social-link-icon-foot {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-svg {
    fill: #f4f4fd;
}
.social-link-icon-foot:hover,
.social-link-icon-foot:focus {
    background-color: #31d0aa;
}
.subscribe-container {
margin-left: 80px;
}
.subscribe-text {
margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
}
    
.footer-form {
display: flex;
gap: 24px;
}

.footer-lable-input {
width: 264px;
height: 40px;
border: 1px solid #ffffff;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #ffffff;
}

.footer-lable-input::placeholder {
color: #ffffff;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button-icon {
    margin-left: 16px;
} */
/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms linear,
    visibility 250ms linear;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}
.modal {
position: absolute;
top: 50%;
left: 50%;
padding-top: 72px;
padding-bottom: 24px;
padding-left: 24px;
padding-right: 24px;
transform: translate(-50%, -50%) scale(1);
width: 408px;
min-height: 584px;
background-color: #fcfcfc;
border-radius: 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.modal-close-btn {
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
fill: #2e2f42;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
border: none;
background-color: #404bbf;
fill: #fff;
fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .review-form-description {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 text-align: center;
 color: #2e2f42;
 margin-bottom: 16px;
 }

 .review-form-field-wrapper {
 margin-bottom: 8px;
 }
.review-form-field-wrapper-mgn {
margin-bottom: 16px;
}

 .review-form-field-label {
display: block;
font-size: 12px;
line-height: 1.17;
margin-bottom: 4px;
letter-spacing: 0.04em;
color: #8e8f99;
 }

 .review-form-input-wrapper {
position: relative;
margin-bottom: 8px;
 }

.review-form-input {
width: 100%;
padding-left: 38px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
height: 40px;
background-color: transparent;
padding-left: 62px;
background-color: transparent;
transition: border-color 250ms linear;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
border-color: #4d5ae5;
outline: transparent;
color: #2e2f42;
}

.review-form-field-icon {
position: absolute;
top: 50%;
left: 16px;
width: 18px;
height: 24px;
transform: translateY(-50%);
fill: #404040;
transition: stroke 250ms linear;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus+.review-form-field-icon {
fill: #4D5AE5;
}

.review-form-message {
border: 1px solid #4d5ae5;
border-radius: 4px;
width: 100%;
height: 120px;
background-color: transparent;
resize: none;
padding: 8px 16px;
transition: border-color 250ms linear;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message::placeholder {
color: rgba(46, 47, 66, 0.4);
}
.review-form-message:focus {
    border-color: #4d5ae5;;
    outline: transparent;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}
.review-form-checkbox-label {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17;
   }

.review-form-own-checkbox {
display: inline-flex;
justify-content: center;
align-items: center;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
width: 16px;
height: 16px;
cursor: pointer;
fill: transparent;
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.review-form-privacy-checkbox:checked+.review-form-checkbox-label .review-form-own-checkbox {
border-color: #4d5ae5;
background-color: #404bbf;
border: none;
fill:#F4F4FD;
}
.review-form-privacy-checkbox:focus+.review-form-checkbox-label .review-form-own-checkbox {
outline: 2px solid rgba(0, 0, 255, 0.5);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .privacy-policy-link {
line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}
.review-form-submit-btn {
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border-radius: 4px;
border: none;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
transition: color 250ms linear, background-color 250ms linear;
margin: 0 auto;
display: block;
gap: 10px;
border: none;
align-items: center;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-submit-btn:hover,        .review-form-submit-btn:focus {
background-color: #fff;
background: #404bbf;

} */ */